@import '../../../styles/variables.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/_mixins.scss';
$header: '.header';

#{$header} {
  padding: 15px 0;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
  position: fixed;
  z-index: $header-z-index;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    transition: transform .15s ease-in-out;
    max-height: 80px;
  }

  &__content {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;

    &:not(:last-child) {
      padding-right: 5px;
    }

    @include media-breakpoint-down(sm) {
      flex-basis: auto;
    }

    &--center {
      flex-flow: column;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        display: none;
      }

    }

    &--start {
      justify-content: flex-start;

      @include media-breakpoint-down(sm) {
        // flex-basis: auto;
      }
    }

    &--end {
      justify-content: flex-end;
      flex-shrink: 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 10px 0;
    color: $white;
    transition: transform .15s ease-in-out;
  }

  &__search-clear {
    margin-left: 5px;
    flex-shrink: 1;
    min-width: 0 !important;
    opacity: 0;

    #{$header}--search & {
      flex-shrink: 0;
      opacity: 1;
    }
  }

  &__search {
    width: 100%;
    flex-shrink: 0;

    #{$header}--search & {
      flex-shrink: 1;
    }
  }
}
