$color-background: #292929;
$color-background-light: #292929;
$color-font: #364862;
$color-secondary: #ff7959;
$color-secondary-bg: #ffe1da;
$color-secondary-bg-hover: #ffd3c9;

$color-primary: #ff0353;
$color-primary-bg: #cc004a;
$color-primary-bg-hover: #cf0448;
$color-primary-extra-light: #f1f0ff;

$white: #e0e0e0;

/*z-indexes*/
$header-z-index: 1000;